.button {
  background-color: hsl(134, 50%, 50%);
  border: 4px solid purple;
  border-radius: 5px;
  color: rgba(#fff, 0.5);
  cursor: pointer;
  display: block;
  font: 16px 'Comic Sans MS', serif;
  margin: 2.5% auto;
  outline: none;
  padding: 2.5% 5%;

  &:hover {
    background-color: transparent;
    color: purple;
    font-weight: 900;
  }
}
