@import '../utils/variables';

// Using :global keyword when you won't want your selector parses  [hash]
:global(#root) {
  .hello {
    cursor: pointer;
    font-family: $font-text;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    user-select: none;
    color: $color-special;
    &:active {
      transform: scale(0.75);
    }
  }
}
