@import '../utils/_variables.pcss';

/* Using :global keyword when you won't want your selector parses  [hash] */
:global(#root) {
  .hello {
    color: $color-special;
    cursor: pointer;
    font-family: $font-text;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    user-select: none;

    &:active {
      transform: scale(0.75);
    }
  }
}
