@import '../utils/_variables.pcss';

/* Using :global keyword when you won't want your selector parses  [hash] */
:global(#root) {
  .title {
    color: var(--color-selection);
    font-family: var(--font-text);
    font-size: 1.5rem;
    font-weight: 900;
    padding: 10px 0;
  }
}
