#Default
Last 2 versions

#Google Chrome.
Last 4 Chrome versions

#Mozilla Firefox.
Firefox >= 20

#Explorer Internet Explorer.
IE >= 10
#not IE < 10

#Microsoft Edge.
Last 4 Edge versions

#iOS Safari.
iOS 7

#Opera.
Opera >= 12

#desktop Safari.
Last 4 Safari versions
