/* https://css-tricks.com/custom-scrollbars-in-webkit/ */
::-webkit-scrollbar {
  background-color: #fff;
  border-left: 1px solid #fff;
  width: 12.5px;
}

::-webkit-scrollbar-thumb {
  /* border-radius: 16px; */
  background-color: #888;
  outline: 10px solid transparent;
}
