// @import "../utils/variables";

body, html {
  height: 100%;
}

body {
  &, h1 {
    margin: 0;
  }
  h1 {
    // font-family: $font-text;
    // color: #9d9c;
  }
  text-align: center;
  // background-image: linear-gradient(to bottom, #8242fd, #9266e6);
  background: {
    image: url(../images/image_big.png);
    position: center center;
    size: contain;
    repeat: repeat;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}
